.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.login-website-logo-mobile-img {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-img {
    display: none;
  }
}

.login-img {
  width: 260px;
}

@media screen and (min-width: 992px) {
  .login-img {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}
@media screen and (max-width: 568px) {
  .login-img {
    display: none;
  }
}

.login-website-logo-desktop-img {
  width: 250px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-img {
    width: 250px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 8px 40px rgba(12, 12, 12, 0.08);
  padding: 64px 48px 64px 48px;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  color: #64748b;
  padding: 8px 20px 8px 16px;
  border: none;
  outline: none;
  width: 100%;
}
.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
}
.user-input:hover {
  border-color: #207979;
  border-width: 1px;
}
.person {
  font-size: 16px;
  /* color: #ffffff; */
}
.icon {
  /* background-color: #28acac; */
  padding: 6px 2px 6px 2px;
  border-right: 1px solid #d7dfe9;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  border-right: 1px solid #207979;
  border-width: 1px;
}
.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  color: #64748b;
  border-radius: 4px;
  padding: 8px 20px 8px 16px;
  border: none;
  outline: none;
  width: 100%;
}

.login-button {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 35px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #28acac;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  outline: none;
}
.login-button:hover {
  background-color: #207979;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.errors {
  align-self: center;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
